grafana:
  enabled: true

  adminUser: admin
  adminPassword: Grafana12345

  service:
    type: ClusterIP

prometheus:
  enabled: true

  prometheusSpec:
    retention: 7d

    additionalPrometheusRules:
      - name: eks-alerts
        groups:
          - name: EKS Alerts
            rules:
              - alert: HighCPUUsage
                expr: |
                  sum(rate(container_cpu_usage_seconds_total{namespace!~"kube-system"}[5m]))
                  /
                  sum(container_spec_cpu_limit_cores{namespace!~"kube-system"})
                  > 0.8
                for: 5m
                labels:
                  severity: warning
                annotations:
                  summary: "High CPU usage detected"
                  description: "CPU usage is above 80% for more than 5 minutes"

              - alert: HighMemoryUsage
                expr: |
                  sum(container_memory_usage_bytes{namespace!~"kube-system"})
                  /
                  sum(container_spec_memory_limit_bytes{namespace!~"kube-system"})
                  > 0.8
                for: 5m
                labels:
                  severity: warning
                annotations:
                  summary: "High memory usage detected"
                  description: "Memory usage is above 80% for more than 5 minutes"

alertmanager:
  enabled: true
